{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
  GO1 Activity Module.

  @package    mod_goone
  @copyright  2019, eCreators PTY LTD
  @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
  @author     Fouad Saikali <fouad@ecreators.com.au>
}}

<div class="container">


  <div class="card mx-auto" style="max-width:500px;margin:auto;">
  	{{#image}}<img class="card-img-top" style="max-height:300px;" src="{{image}}" alt="Card image cap">{{/image}}
  	<div class="card-body bg-light">
    <h3 class="card-title">{{title}}</h3>
    <p class="badge badge-black mr-1 m-0" style="text-transform:uppercase;">{{type}}</p>
    <em class="text-muted">{{#provider}}{{name}}{{/provider}}</em></br>
   {{#delivery}}{{#duration}} <i class="fa fa-clock-o mr-1"></i><em>{{duration}}</em>{{/duration}}{{/delivery}}
    </div>
  </div>
</div>






<div class="container">
	<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-underline">
				<li class="primary-tab primary-tab-border active">
					<h3 class="panel-title">{{# str }} overview, mod_goone {{/ str }}</h3>
				</li>
			</ul>
			<div class="text-expanded">
				{{{description}}}
			</div>
		</div>
	</div>
</div>




{{#has_items}}
<div class="container">
	<div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{# str }} learning, mod_goone {{/ str }}</h3>
        </div>
{{#items}}
<div class="container mb-3">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row toggle" id="dropdown-detail-1" data-toggle="collapse">
                    <div class="col-xs-10">
                        {{title}}
                    </div>
                    <div class="col-xs-2"><i class="fa fa-chevron-down pull-right"></i>
                    </div>
                </div>
                <div id="detail-1">
                    <hr></hr>
                    <div class="container">
                        <div class="row">
                        	{{#items}}
                        	<div class="container">

                                <div class="row-xs-6">
                                    {{title}}
                                </div>
                                <div class="small row-xs-5 text-muted md-2" style="text-transform:uppercase;">
                                {{type}}
                                </div>
                            </div>

                           {{/items}}
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
				{{/items}}
				{{/has_items}}

			</div>
		</div>
	</div>
</div>

<script>
    $(document).ready(function() {
        $('#lospinny').hide();
    });
</script>

